<div class="user-component-section">
  <div class="user-component-heading">
    <h1> User List</h1>
    <p class="m-0">Following are the list of users currently on our database:</p>
  </div>
  <div class="user-component-data row m-0">
    <app-data-table [dataValue]="userDetailsList" [dataRoleList]="roleList" *ngIf="isUserDetailsListEmpty"
      (initiateDetailsCard)="initiateDetailsCard($event)" 
      class="col-md-8 pt-4 col"></app-data-table>
    <div class="col-md-4 pt-4 col">
      <app-user-card [userElement]="userDetailsElement" [roleList]="roleList" *ngIf="showUserDetails" ></app-user-card>
    </div>
  </div>
</div>