.profile-details{
    max-width: 400px;
  }
  
  .example-header-image {
    
    background-size: cover;
  }
  img.userDetailsImage{
      border-radius:50%;
      max-height: 180px;
      max-width: 140px;
  }