<form [formGroup]="loginForm" class="container login-container group" >
  <div class="row centeralign login-container-element">
    <mat-form-field>
      <input matInput placeholder ="UserName" formControlName="username">
    </mat-form-field>
  </div>
  <div class="row centeralign login-container-element">
    <mat-form-field>
      <input type="password" matInput placeholder ="Password" formControlName="password">
    </mat-form-field>
  </div>
  <div class="row centeralign login-container-element">
    <button mat-raised-button color="primary" [disabled]="loginForm.invalid" 
      (click)="submitLoginDetails()" class="x1-right">Sign In</button>
    <a routerLink="/register">Register</a>
  </div>
</form>
<div *ngIf="testBoolean"> test</div>
<div class="alertMessage" *ngIf="wasRegistrationSuccess" [@wasRegistrationSuccess]>
  <p>User Registration was successfull.<br> 
  Email sent for confirmation of details. Kindly click on the link.</p>
</div>
