ul.blood-request-list{
    display: inline;
    li.blood-request-list-element{
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(280px, 1fr) );
        div.request-element{
            label.req-elmenet-label{
                font-weight: 700;
            }
        }
    }
}