<nav>
  <ul>
      <li [hidden]="!loggedIn">
      <a routerLink="home" [class.activated]="currentUrl == '/home'">
        <mat-icon>home</mat-icon>
      </a>
    </li>
    <li [hidden]="loggedIn">
      <a routerLink="login" [class.activated]="currentUrl == '/login'">
        <i class="material-icons">account_box</i>
      </a>
    </li>
    <li [hidden]="!loggedIn" class="logout-link">
      <a (click)="logoutUser()" routerLink="">
        <i class="material-icons">power_settings_new</i>
      </a>
    </li>
    <li *ngIf="doesUserHaveAdminPriv">
      <a routerLink="users" routerLink="users" [class.activated]="currentUrl == '/users'">
        <i class="material-icons">supervised_user_circle</i>
      </a>
    </li>
    <li>
      <a routerLink="requestHome" [class.activated]="currentUrl == '/requests'">
        <i class="material-icons">list</i>
      </a>
    </li>
  </ul>
</nav>