@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";

nav {
    background: #2D2E2E;
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        li {

            a {
                color: #fff;
                padding: 20px;
                display: block;
            }

            .activated {
                background-color: #00a8ff;
            }
        }
        li.logout-link{
            float: right;
        }
    }

}

@include media-breakpoint-up(md){
    
        nav{
            height: 100%;
            position: fixed;
            ul{
                display: inline;
                li.logout-link{
                    position: absolute;
                    bottom: 0;
                }
                
            }
        }
    
   
}